.container-fluid{
	min-height: 100vh;
	display: block;
}

.row{
	display: flex;
    flex: 1 1 0px;
    padding: 32px;
    margin: 0px auto;
    max-width: 1200px;
    gap: 40px;
}

.col{
	min-width: 174px;
}

.nav-item{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: rgb(173, 181, 189);
    font-size: 0.75rem;
    text-decoration: none;
    margin-bottom: 0.75rem;
    line-height: 1.5;
    text-underline-position: under;
}

.nav-item a{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    cursor: pointer;
    border: 0px;
    appearance: none;
    font-size: 1rem;
    background-color: transparent;
    text-align: left;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.75rem;
    user-select: none;
    border-radius: 4px;
}

.nav-item a:hover{
	background-color: #dddddd;
}

.carda{
	width: 83.3333%;
    min-width: 0px;
}

.halfs{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.cupon{
	border: 1px solid rgb(222, 226, 230);
    border-radius: 16px;
	padding: 1.5rem 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.cari{
	color: #000000;
	text-decoration : underline;
}

.out{
	text-align: right;
}