* {
  box-sizing: border-box;
}

body {
	margin: 0;
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

li {
	list-style-type: none;
}

button {
  cursor: pointer;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.inner {
  color: #616568;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.3px;
  line-height: 1.43;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
	overflow: hidden;
}


/* nav */
nav {
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px;
}

}

.login{
	background-color: #00c471;
    border-color: #00c471;
	color: #fff;
	line-height: 2;
    font-weight: 700;
	padding: 4px 18px;
    border-radius: 8px;
}

.cart-link{
	position: relative;
    height: 100%;
    align-items: center;
    color: rgb(73, 80, 87);
}

.mantine-6ur5yj {
    box-sizing: border-box;
    position: relative;
    display: block;
    user-select: none;
    overflow: hidden;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    padding: 0px;
    width: 1.625rem;
    min-width: 1.625rem;
    height: 1.625rem;
    border: 1px solid rgb(222, 226, 230);
}

.mantine-9rx0rd {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.profile{
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}


.profile-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 316px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.logoutbtn{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.profilebottom{
	background-color: #ffffff;
	padding: 8px 16px;
}

nav .inner {
  height: 64px;
  display: flex;
}

nav .inner .logo {
  margin-right: 10px;
  display: flex;
}

nav .inner .logo a {
  width: 110px;
  display: flex;
}

nav .inner .logo a img {
  max-width: 100%;
  object-fit: contain;
}

nav .inner .menu {
  display: flex;
  flex-grow: 1;
}

nav .inner .menu__left {
  display: flex;
}

nav .inner .menu__left > ul {
  display: flex;
}

nav .inner .menu__left > ul > li {
  padding: 8px 0;
  display: flex;
  position: relative;
}

nav .inner .menu__left > ul > li a {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

nav .inner .menu__left > ul > li a:hover { color: #00c471; }

nav .inner .menu__left > ul > li.lecture:hover > .dropdown,
nav .inner .menu__left > ul > li.community:hover > .dropdown,
nav .inner .menu__left > ul > li.lecture:hover::before,
nav .inner .menu__left > ul > li.community:hover::before,
nav .inner .menu__left > ul > li.lecture:hover::after,
nav .inner .menu__left > ul > li.community:hover::after {
  display: block;
}

nav .inner .menu__left > ul > li .dropdown {
  display: none;
  width: max-content;
  border-radius: 2px;
  box-shadow: 0 8px 8px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
  padding: 8px 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% - 4px);
  right: 0;
}

nav .inner .menu__left > ul > li .dropdown > li a {
  color: #4a4a4a;
  font-size: 14px;
  padding: 6px 16px;
  line-height: 1.5;
}

nav .inner .menu__left > ul > li .dropdown .separator {
  width: calc(100% - 20px);
  height: 1px;
  margin: 12px auto;
  border-color: #e9ecef;
  opacity: .3;
}

nav .inner .menu__left > ul > li .dropdown i {
  font-size: 14px;
  margin-left: auto;
}

nav .inner .menu__left > ul > li.lecture .dropdown {
  width: 180px;
  box-shadow: 8px 5px 8px 1px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
}

nav .inner .menu__left > ul > li.lecture > .dropdown {
  left: 0;
  right: auto;
}

nav .inner .menu__left > ul > li.lecture .dropdown .dropdown {
  height: 100%;
  top: 0;
  left: 180px;
}

nav .inner .menu__left > ul > li.lecture li:hover > .dropdown {
  display: block;
}

nav .inner .menu__right {
  flex-grow: 1;
  display: flex;
}

nav .inner .menu__right .search {
  padding: 8px;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

nav .inner .menu__right .search input {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px 40px 5px 9px;
  background-color: #f6f6f6;
  display: block;
  box-sizing: border-box;
}

nav .inner .menu__right .search input:focus {
  outline: .04rem auto #1dc078;
}

nav .inner .menu__right .search input:hover {
  border-color: #b5b5b5;
}

nav .inner .menu__right .search .search-icon {
  position: absolute;
  top: 21px;
  right: 20px;
  cursor: pointer;
}

nav .inner .menu__right .search .search-icon i {
  font-size: 18px;
}

nav .inner .menu__right .nav-btns {
  padding: 8px 0 8px 12px;
  display: flex;
  align-items: center;
}

nav .inner .menu__right .nav-btns button {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  padding: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

nav .inner .menu__right .nav-btns button.signin {
  color: #363636;
  margin-right: 8px;
  background-color: #fff;
}

nav .inner .menu__right .nav-btns button.joinin {
  color: #fff;
  background-color: #ff7867;
}

/* nav */

/* header */
header {
  height: 40px;
  border-bottom: 1px solid #f1f3f5;
  box-sizing: border-box;
}

header .inner {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

header .inner__service {
  display: flex;
}

header .inner__service li {
  display: flex;
  align-items: center;
}

header .inner__service li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  margin-left: 8px;
  margin-right: 10px;
  background-color: #d5dbe2;
}

header .inner__service li a {
  color: #858a8d;
  font-weight: 500;
  margin-right: 2px;
  display: flex;
  align-items: center;
}

header .inner__service li a.active {
  color: #1b1c1d;
  font-weight: 700;
}

header .inner__service li a svg {
  margin-right: 4px;
}

header .inner__links {
  display: flex;
}

header .inner__links li {
  display: flex;
  align-items: center;
}

header .inner__links li:nth-child(1)::after,
header .inner__links li:nth-child(2)::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  margin-left: 8px;
  margin-right: 10px;
  background-color: #d5dbe2;
}

header .inner__links li a {
  color: #3e4042;
  font-weight: 500;
  display: flex;
  align-items: center;
}

header .inner__links li a.active {
  color: #1b1c1d;
  font-weight: 700;
}

.dashbord{
	padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1.125rem;
    line-height: 1.1;
    color: #212529;
	background-color: #fff;
	cursor: pointer;
}
/* header */

/* service */
.service {
  padding: 48px;
  background-color: #F9F9F9;
}

.service__header {
  margin-bottom: 20px;
  letter-spacing: normal;
}

.service__header h3 {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.service__header p {
  color: #757575;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 4px;
}

.service__container {
  letter-spacing: normal;
  padding: 2px;
  display: flex;
  gap: 10px;
}

.service__container .item {
  width: 370px;
  height: 330px;
  padding: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.service__container .item h4 {
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 8px;
}

.service__container .item p {
  color: #757575;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  flex-grow: 1;
}

.service__container .item a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  width: max-content;
  padding: 12px 16px;
  margin-top: auto;
  background-color: #1dc078;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
}

.service__container .item a > span {
  font-size: 16px;
  margin-left: 4px;
  transform: scaleX(1.2) scaleY(.9);
}
/* service */

/* searching */
.searching {
  padding-top: 48px;
  padding-bottom: 24px;
  margin-top: 65px;
}

.searching .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching .inner h1 {
  color: #363636;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.searching .inner .search {
  max-width: 580px;
  width: 100%;
  position: relative;
}

.searching .inner .search input {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  width: 100%;
  background-color: rgba(29, 192, 120, .12);
  border: 1px solid rgba(29, 192, 120, .24);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  padding: 15px 60px 13px 20px;
  border-radius: 28px;
  transition: all .2s ease;
}

.searching .inner .search input::placeholder {
  color: #9FCAB7;
  line-height: 24px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.searching .inner .search input:focus {
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  border: 1px solid #dedede;
  background-color: #fff;
}

.searching .inner .search input:focus::placeholder {
  color: #D8D8D8;
}

.searching .inner .search .search-icon {
  padding: 5px 12px;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  cursor: pointer;
}

.searching .inner .search .search-icon i {
  font-size: 21px;
}
/* searcing */

/* welcome */
.welcome-course {
  padding: 24px 0;
}

.welcome-course__header {
  margin-bottom: 16px;
}

.welcome-course__header a {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.welcome-course__header a h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  text-decoration: none;
}

.welcome-course__header a i {
  font-size: 29px;
}

.welcome-course__header p {
  color: #757575;
  margin-top: 4px;
  font-size: 15px;
  letter-spacing: normal;
}

.welcome-course__swiper {
	width: 20%
}

.welcome-course__swiper .swiper-wrapper {
  padding: 6px 0;
	gap: 10px;
}

.welcome-course__prev-btn,
.welcome-course__next-btn {
  background-color: #fff;
  opacity: .85;
  top: calc(50% + 18px);
}

.welcome-course__prev-btn,
.welcome-course__next-btn.swiper-button-disabled {
  color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px 0 transparent;
  cursor: not-allowed;
  display: flex;
}

.welcome-course__prev-btn {
  left: 10px;
}

.welcome-course__next-btn {
  right: 10px;
}
/* welcome */

/* free */
.free-course {
  padding: 24px 0;
}

.free-course__header {
  margin-bottom: 16px;
}

.free-course__header a {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.free-course__header a h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  text-decoration: none;
}

.free-course__header a i {
  font-size: 29px;
}

.free-course__header p {
  color: #757575;
  margin-top: 4px;
  font-size: 15px;
  letter-spacing: normal;
}

.free-course__swiper {
  overflow: hidden;
}

.free-course__swiper .swiper-wrapper {
  padding: 6px 0;
}

.free-course__prev-btn,
.free-course__next-btn {
  background-color: #fff;
  opacity: .85;
  top: calc(50% + 18px);
}

.free-course__prev-btn,
.free-course__next-btn.swiper-button-disabled {
  color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px 0 transparent;
  cursor: not-allowed;
  display: flex;
}

.free-course__prev-btn {
  left: 10px;
}

.free-course__next-btn {
  right: 10px;
}
/* free */

/* banner */
.banner {
  padding: 24px 0;
}

.banner__swiper .swiper-wrapper .swiper-slide {
  padding: 36px 0;
  background-repeat: no-repeat;
  background-position-x: 40%;
  cursor:pointer;
}

.banner__swiper .swiper-wrapper .swiper-slide_1 {
  background-image: url(https://cdn.inflearn.com/public/main_sliders/3b67a1a1-aae3-442e-8e17-791b7cdfb5f5/bottom-1920-205-%281111%29.jpg);
}

.banner__swiper .swiper-wrapper .swiper-slide_2 {
  background-image: url(https://cdn.inflearn.com/public/main_sliders/38744ba0-b12a-491a-9ca2-43375c3905ba/share-you.jpg);
}

.banner__swiper .swiper-wrapper .swiper-slide_3 {
  background-image: url(https://cdn.inflearn.com/public/main_sliders/39bcb91f-64a4-4a16-8878-e8dc7cd342e8/bottom-1920-205-%28221%29.jpg);
}

.banner__swiper .swiper-wrapper .swiper-slide h4 {
  color: #404040;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.banner__swiper .swiper-wrapper .swiper-slide button {
  color: #1dc078;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 12px 16px;
}

.banner__btns {
  position: absolute;
  right: 4px;
  bottom: 16px;
  display: flex;
  gap: 4px;
}

.banner__btns .swiper-prev-btn,
.banner__btns .swiper-next-btn {
  width: 29px;
  height: 29px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  position: relative;
}

.banner__btns .swiper-prev-btn > div,
.banner__btns .swiper-next-btn > div {
  font-size: 25px;
}

.banner__btns .swiper-prev-btn.swiper-button-disabled,
.banner__btns .swiper-next-btn.swiper-button-disabled {
  color: #979797;
  background-color: rgba(249, 249, 249, 0.8);
  display: flex;
}

.banner__pagination {
  z-index: 11;
  width: auto !important;
  position: absolute;
  bottom: 16px !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.banner__pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 !important;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s ease;
}

.banner__pagination .swiper-pagination-bullet-active {
  width: 32px;
  background-color: #fff;
}
/* banner */

/* btob */
.btob {
  padding: 64px 32px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btob h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -.3px;
  margin-bottom: 20px;
}

.btob__logos__top,
.btob__logos__bottom {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btob__logos__top .logo img,
.btob__logos__bottom .logo img {
  height: 28px;
  filter: grayscale(1);
  display: block;
}
/* btob */


/* swiper */

.swiper-prev-btn,
.swiper-next-btn {
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
  background: hsla(0,0%,100%,.85);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  cursor: pointer;
}

.swiper-prev-btn > div,
.swiper-next-btn > div {
  font-size: 32px;
}

.swiper-prev-btn.swiper-button-disabled,
.swiper-next-btn.swiper-button-disabled {
  display: none;
}

.swiper-prev-btn > div {
  transform: translate(-1px, 1px);
}

.swiper-next-btn > div {
  font-weight: 380;
  transform: translate(1px, 1px);
}

.new-curation .inner {
  padding-top: 24px;
  padding-bottom: 24px;
}

.new-curation .new-curation__swiper {
  overflow: hidden;
}

.new-curation .new-curation__swiper .swiper-wrapper {
  width: fit-content;
  display: flex;
  gap: 24px;
  cursor: grab;
}

.free-course .swiper-container {
    overflow: hidden;
}

.new-curation .new-curation__swiper .swiper-wrapper:active {
  cursor: grabbing;
}

.new-curation .new-curation__swiper .swiper-wrapper .swiper-slide {
  width: 76px !important;
  height: 93px;
  display: flex;
  align-items: center;
}

.new-curation .new-curation__swiper .swiper-wrapper .swiper-slide a {
  text-decoration: none;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.new-curation .new-curation__swiper .swiper-wrapper .swiper-slide a img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  display: block;
}

.new-curation .new-curation__swiper .swiper-wrapper .swiper-slide a p {
  color: #000;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: normal;
}

.new-curation .new-curation__prev-btn,
.new-curation .new-curation__next-btn {
  top: calc(50% - 29.5px);
}

.new-curation .new-curation__prev-btn {
  left: 10px;
}

.new-curation .new-curation__next-btn {
  right: 10px;
}

.new-course {
  padding: 24px 0;
}

.new-course .new-course__header {
  margin-bottom: 16px;
}

.new-course .new-course__header a {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-course .new-course__header a h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  text-decoration: none;
}

.new-course .new-course__header a h3 span {
  color: #fa4c3d;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.new-course .new-course__header a i {
  font-size: 29px;
}

.new-course .new-course__header p {
  color: #757575;
  margin-top: 4px;
  font-size: 15px;
  letter-spacing: normal;
}

.new-course .new-course__swiper {
	width: 20%;
}

.new-course .new-course__swiper .swiper-wrapper {
  padding: 6px 0;
	gap: 10px;
}

.new-course .new-course__prev-btn,
.new-course .new-course__next-btn {
  background-color: #fff;
  opacity: .85;
  top: calc(50% + 4px);
}

.new-course .new-course__prev-btn.swiper-button-disabled,
.new-course .new-course__next-btn.swiper-button-disabled {
  color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px 0 transparent;
  cursor: not-allowed;
  display: flex;
}

.new-course .new-course__prev-btn {
  left: 10px;
}

.new-course .new-course__next-btn {
  right: 10px;
}

/* swiper */

/* hero */

.show-more-box{
	position: absolute;
    width: 857px;
    max-width: 100%;
    border-radius: 14px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, .04);
    background-color: #fff;
    z-index: 9;
	right: 20rem;
}

.show-more-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    border-bottom: 1px solid #e9ecef;
}

.show-more-list{
	padding: 12px 20px 20px 12px;
}

.e-select-bullet{
padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: .875rem;
    font-weight: 700;
    color: #495057;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ced4da;
    background-color: #fff;
    cursor: pointer;
	display: block;
    margin-top: 8px;
    margin-left: 8px;
}

.hero-more-hide-btn{
    color: #ced4da;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    background: none;
    border: 0;
    cursor: pointer;
}

.swiper-content .inner {
  letter-spacing: normal;
  height: 320px;
  padding: 0;
  display: flex;
}

.swiper-content__left {
  max-width: 600px;
  position: absolute;
  top: 44%;
  left: 32px;
  transform: translateY(-50%);
}

.swiper-content__left .hero-tags {
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
}

.swiper-content__left .hero-tags .tag {
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
  height: 24px;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.swiper-content__left h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.swiper-content__left p {
  font-size: 16px;
  word-break: keep-all;
}

.swiper-content__right {
  width: 737px;
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-content__right img {
  height: 320px;
  display: block;
}

.hero .swiper-pagination-container .swiper-pagination .hero-bullet, 
.hero .hero-more .swiper-pagination .hero-bullet {
  color: #495057;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  width: fit-content;
  height: 36px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #ced4da;
  padding: 0 16px;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.hero .swiper-pagination-container .swiper-pagination .hero-bullet.swiper-pagination-bullet-active,
.hero .hero-more .swiper-pagination .hero-bullet.swiper-pagination-bullet-active {
  color: #00c471;
  box-shadow: inset 0 0 0 2px #00c471;
}

.hero {
  height: 320px;
}

.hero .swiper_1 {
  background-color: #ffe402;
}

.hero .swiper_1 .tag {
  color: #ffe402;
  background-color: #000;
}

.hero .swiper_1 h1,
.hero .swiper_1 p {
  color: #000;
}

.hero .swiper_2 {
  background-color: #00030b;
}

.hero .swiper_2 .tag {
  color: #111;
  background-color: #76D6D8;
}

.hero .swiper_2 h1,
.hero .swiper_2 p {
  color: #fff;
}

/* Additional .hero_swiper_n styles should be defined here following the same pattern. */

.hero .swiper-pagination-wrapper {
  height: 64px;
  border-bottom: 1px solid #e9ecef;
}

.hero .swiper-pagination-wrapper .inner {
  height: 64px;
  display: flex;
  align-items: center;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller {
  color: #fff;
  font-size: 14px;
  width: 135px;
  height: 36px;
  border-radius: 20px;
  padding: 0 16px;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .index-wrapper {
  letter-spacing: normal;
  white-space: nowrap;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button {
  border: 0;
  padding: 0;
  background: none;
  display: flex;
  align-items: center;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button i {
  color: #fff;
  font-size: 12px;
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button.hero-btn-prev {
  transform: translate(-2px, 2px);
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button.hero-btn-next {
  transform: translate(2px, 2px);
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button.hero-btn-player .fa-play {
  transform: translate(2px, 0px);
}

.hero .swiper-pagination-wrapper .swiper-pagination-controller .control-wrapper button.hero-btn-player .fa-pause {
  transform: translate(1px, 2px);
}

.hero .swiper-pagination-wrapper .divider {
  width: 1px;
  height: 36px;
  margin: 0 16px;
  background-color: #dee2e6;
}

.hero .swiper-pagination-wrapper .swiper-pagination-container {
  height: 36px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
}

.hero .swiper-pagination-wrapper .swiper-pagination-container .swiper-pagination {
  width: max-content;
  height: 36px;
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 8px;
}

.hero .swiper-pagination-wrapper .swiper-pagination-container .left-gradient,
.hero .swiper-pagination-wrapper .swiper-pagination-container .right-gradient {
  width: 15px;
  height: 36px;
  position: absolute;
  top: 0;
  z-index: 11;
}

.hero .swiper-pagination-wrapper .swiper-pagination-container .left-gradient {
  display: none;
  left: 0;
  background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}

.hero .swiper-pagination-wrapper .swiper-pagination-container .right-gradient {
  display: none;
  right: 0;
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}

.hero .swiper-pagination-wrapper .hero-more-toggler {
  color: #495057;
  font-size: 16px;
  width: 36px;
  height: 36px;
  margin-left: 16px;
  padding: 1px 6px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .swiper-pagination-wrapper .hero-more-toggler > div {
  font-size: 30px;
  font-weight: 200;
}

.hero .swiper-pagination-wrapper .hero-more-toggler.active {
  border: 1px solid #00c471;
}

.hero .swiper-pagination-wrapper .hero-more-toggler.active > div {
  color: #00c471;
  transform: rotate(180deg);
}

.hero .swiper-pagination-wrapper .hero-more {
  width: 857px;
  border-radius: 14px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.3), 0 6px 20px 0 rgba(0,0,0,.04);
  background-color: #fff;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 11;
  display: none;
}

.hero .swiper-pagination-wrapper .hero-more.show {
  display: block;
}

.hero .swiper-pagination-wrapper .hero-more.__header {
  letter-spacing: normal;
  height: 48px;
  padding: 0 20px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .swiper-pagination-wrapper .hero-more.__header h3 {
  color: #212529;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.hero .swiper-pagination-wrapper .hero-more.__header button {
  color: #ced4da;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 1px 6px;
  display: block;
}

.hero .swiper-pagination-wrapper .hero-more.__items {
  height: 120px;
  position: relative;

  .swiper-pagination {
    height: 120px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

/* hero */

/* read */
.read {
  padding: 24px 0;
}

.read__header {
  margin-bottom: 16px;
}

.read__header a {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.read__header a h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  text-decoration: none;
}

.read__header a i {
  font-size: 29px;
}

.read__list {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  padding: 2px;
}

.read__list a {
  max-width: 32.3%;
  width: 100%;
}

.read__list a img {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 190px;
}

.read__list a h4 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: normal;
  margin-top: 20px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.read__list a .description {
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 48px;
  letter-spacing: normal;
}
/* read */

/* review */
.review {
  padding: 24px 0;
}

.review .inner {
  display: flex;
  justify-content: space-between;
}

.review__left {
  letter-spacing: normal;
  max-width: 480px;
  width: 100%;
  padding: 40px 16px 40px 0;
}

.review__left h2 {
  color: #242424;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 20px;
}

.review__left h2 .user-cnt {
  color: #47c880;
}

.review__left .text {
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 36px;
  word-break: break-word;
}

.review__left .btns {
  display: flex;
  gap: 8px;
}

.review__left .btns .btn-more,
.review__left .btns .btn-request {
  color: #333;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  border: 1px solid #1dc078;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px 16px;
  margin-bottom: 8px;
}

.review__left .btns .btn-more i,
.review__left .btns .btn-request i {
  margin-left: 4px;
}

.review__left .btns .btn-more:hover,
.review__left .btns .btn-request:hover {
  background-color: rgba(29,192,120,.12);
}

.review__right {
  max-width: 590px;
  width: 100%;
}

.review__right .swiper {
  height: 480px;
  position: relative;
}

.review__right .swiper .swiper-wrapper .swiper-slide {
  width: auto;
  height: auto !important;
  color: #333;
  letter-spacing: normal;
  box-shadow: 0 2px 3px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
  border-radius: 4px;
  padding: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.review__right .swiper .swiper-wrapper .swiper-slide__top {
  margin-bottom: 16px;
}

.review__right .swiper .swiper-wrapper .swiper-slide__top .name {
  color: #757570;
  font-size: 15px;
  line-height: 22.5px;
  margin-right: 8px;
}

.review__right .swiper .swiper-wrapper .swiper-slide__top .date {
  color: #979797;
  font-size: 14px;
  line-height: 21px;
}

.review__right .swiper .swiper-wrapper .swiper-slide__bottom a {
  color: #333;
  margin-bottom: 4px;
  display: block;
}

.review__right .swiper .swiper-wrapper .swiper-slide__bottom a span {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.review__right .swiper .swiper-wrapper .swiper-slide__bottom a i {
  font-size: 20px;
  transform: translateY(1px);
}

.review__right .swiper .swiper-wrapper .swiper-slide__bottom .text {
  font-size: 16px;
  line-height: 24px;
}

.review__right .swiper .top-gradient,
.review__right .swiper .bottom-gradient {
  width: 100%;
  height: 48px;
  position: absolute;
  z-index: 11;
}

.review__right .swiper .top-gradient {
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72));
  top: 0;
}

.review__right .swiper .bottom-gradient {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72));
  bottom: 0;
}
/* review */

/* roadmap */

.roadmap {
  padding: 24px 0;
}

.roadmap__header {
  margin-bottom: 16px;
}

.roadmap__header a {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.roadmap__header a h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  text-decoration: none;
}

.roadmap__header a h3 span {
  color: #fa4c3d;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.roadmap__header a i {
  font-size: 29px;
}

.roadmap__header p {
  color: #757575;
  margin-top: 4px;
  font-size: 15px;
  letter-spacing: normal;
}

.roadmap__swiper {
  overflow: hidden;
}

.roadmap__swiper .swiper-wrapper {
  padding-top: 6px;
  padding-bottom: 5px;
  width: 269px;
	gap: 20px;
}

.roadmap__swiper .swiper-wrapper .course-card-item__image img {
  height: 141.215px;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.roadmap__swiper .swiper-wrapper .course-card-item__content {
  padding: 9px 0 0;
	cursor: pointer;
}

.roadmap__swiper .swiper-wrapper .course-card-item__content h5 {
  color: #454545;
  font-size: 15.2px;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 0.8888em;
}

.roadmap__prev-btn,
.roadmap__next-btn {
  background-color: #fff;
  opacity: .85;
  top: calc(50% + 21px);
}

.roadmap__prev-btn,
.roadmap__next-btn.swiper-button-disabled {
  color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px 0 transparent;
  cursor: not-allowed;
  display: flex;
}

.roadmap__prev-btn {
  left: 10px;
}

.roadmap__next-btn {
  right: 10px;
}
/* roadmap */

/* coursecard */
.course-card:hover .course-card-cover {
  display: block;
}

.course-card-item__image {
  position: relative;
  letter-spacing: normal;
}

.course-card-item__image img {
  width: 225px;
  margin-right: 6px;
  display: block;
}

.course-card-item__image .type {
  color: #055160;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  padding: 5.25px 9.75px;
  border: 1px solid #0dcaf0;
  border-radius: 0 4px 0 0;
  background: #6edff6;
  position: absolute;
  bottom: 0;
  left: 0;
}

.course-card-item__image .discount {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 2px 2px 2px 4px;
  border: 1px solid #fff;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #ff6318;
  position: absolute;
  top: 5%;
  right: 0;
}

.course-card-item__image .discount > small {
  font-size: 12px;
}

.course-card-item__content {
  padding: 8px 0;
  letter-spacing: normal;
}

.course-card-item__content h4 {
  color: #454545;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.course-card-item__content .instructor {
  color: #7d7d7d;
  font-size: 14.4px;
  line-height: 21.6px;
}

.course-card-item__content .status {
  color: #495057;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 4px;
  padding: 2px 9px;
  background: #adb5bd;
  display: inline;
}

.course-card-item__content .rating {
  width: 72px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
}

.course-card-item__content .rating-star {
  display: flex;
}

.course-card-item__content .rating-star > svg {
  color: #fdcc11;
  width: 14.4px;
  height: 14.4px;
  line-height: 24px;
  display: block;
}

.course-card-item__content .review-cnt {
  color: #4a4a4a;
  font-size: 8px;
  position: absolute;
  bottom: 4.8px;
  left: 72px;
}

.course-card-item__content .price {
  color: #175cbe;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.course-card-item__content .price > del {
  color: #595959;
  font-weight: 500;
  font-size: 14.4px;
  opacity: .75;
  margin-right: 1px;
}

.course-card-item__content .tags {
  margin: 8px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.course-card-item__content .tags .tag {
  color: #454545;
  font-size: 12px;
  line-height: 1.5;
  height: 2em;
  border-radius: 4px;
  padding: 0 9px;
  background-color: #e4fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card-item__content .tags .tag.participant {
  background-color: #f6d5ea;
}

.course-card-item__content .tags .tag.sale {
  background-color: #ffc8c7;
}

.course-card-cover {
  
  font-size: 13px;
  letter-spacing: normal;
  background-color: rgba(0,0,0,.8);
  padding: 12px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  cursor: pointer;
}

.course-card-cover__content h4 {
  color: #fff;
  font-size: 15.2px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 12px;
}

.course-card-cover__content .infos {
  color: #c5ebf8;
  line-height: 19.2px;
}

.course-card-cover__content .infos > div {
  margin-bottom: 1.12px;
  display: flex;
}

.course-card-cover__content .infos > div svg {
  margin-right: 4.8px;
  width: 16px;
}

.course-card-cover__content .infos > div span {
  width: calc(100% - 20.8px);
}

.course-card-cover__content .infos > div:not(:last-child) span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card-cover__content .infos > div:last-child svg {
  align-self: flex-start;
  padding-top: 1px;
}

.course-card-cover__btns {
  color: #fff;
  margin-right: 1.4px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.course-card-cover__btns > div {
  font-size: 16.25px;
  line-height: 0.8125px;
  text-align: center;
  vertical-align: -0.075em;
  margin-top: 4px;
  position: relative;
}

.course-card-cover__btns > div:hover::before {
  display: block;
  color: rgba(0,0,0,.7);
  font-size: 12px;
  line-height: 18px;
  width: 222.4px;
  border-radius: 4px;
  padding: 6.4px 12.8px;
  background-color: rgba(255,221,87,.9);
  position: absolute;
  top: auto;
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(-8px, 50%);
}

.course-card-cover__btns > div:hover::after {
  content: "";
  display: block;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255,221,87,.9);
  position: absolute;
  top: calc(50% - 8px);
  bottom: auto;
  left: auto;
  right: calc(100% - 9px);
}

.cart-btn{
	z-index: 999;
}

.course-card-cover__btns > div.cart-btn:hover {
  color: #c5ebf8;
}

.course-card-cover__btns > div.cart-btn:hover::before {
  content: "수강바구니에 추가";
}

.course-card-cover__btns > div.like-btn:hover {
  color: #ff6c5c;
}

.course-card-cover__btns > div.like-btn:hover::before {
  content: "좋아요에 추가";
}

.course-card-cover__btns > div.add-btn:hover::before {
  content: "내 폴더에 추가";
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/* coursecard */

/* footer */
footer {
  background-color: #303740;
}

footer .inner {
  color: #bdbdbd;
  letter-spacing: normal;
  max-width: 1152px;
  padding: 0;
}

footer .menu {
  border-bottom: 1px solid #444;
  padding: 32px 20px;
}

footer .menu ul {
  display: flex;
  justify-content: space-between;
}

footer .menu ul li {
  padding: 16px 0 10px;
  margin-right: 20px;
}

footer .menu ul li h4 {
  color: #eee;
  font-weight: 700;
  margin-bottom: 16px;
}

footer .menu ul li a {
  color: #bdbdbd;
  margin-bottom: 7px;
  display: block;
}

footer .menu ul li a:hover {
  text-decoration: underline;
}

footer .info {
  padding: 32px 20px;
  display: flex;
  justify-content: space-between;
}

footer .info__left {
  font-size: 12px;
  line-height: 1.5;
}

footer .info__left .legal {
  margin-bottom: 8px;
}

footer .info__left .legal a {
  color: #bdbdbd;
  font-weight: 700;
}

footer .info__left .legal a svg {
  fill: #1dc078;
}

footer .info__left .legal a::after {
  content: "|";
  display: inline-block;
  margin: 0 8px;
  font-weight: 400;
}

footer .info__left .legal a:last-child::after {
  display: none;
}

footer .info__left .meta {
  margin-bottom: 8px;
}

footer .info__left .meta span {
  font-size: 12px;
  line-height: 1.5;
}

footer .info__left .meta span a {
  color: #bdbdbd;
}

footer .info__left .meta span a:hover {
  color: #454545;
}

footer .info__right {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 11px;
}

footer .info__right a {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer */




.inyoutube{
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
}

.inyoutubn {
	padding: 0px 1.125rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    border-radius: 0.5rem;
    font-weight: 600;
    display: flex;
    font-size: 0.875rem;
    cursor: pointer;
    border: 0.0625rem solid rgb(206, 212, 218);
    background-color: rgb(255, 255, 255);
    color: rgb(33, 37, 41);
}

.course-item{
	display: flex;
}

.course-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.course-detail{
	flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.courserivew{
	padding-top: 3.4375rem;
    padding-bottom: 3.4375rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.editbtn{
	color: #ffffff;
}

.backbtn{
	color: #ffffff;
}

.editbackwrapper{
	display: flex;
	gap: 20px;
}

.course-name{
	font-size: 0.825rem;
	font-weight: bold;
}

.course-duration{
	font-size: 0.75rem;
}

.coursesub{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.btnwrapper{
	display: flex;
    justify-content: end;
    margin-top: 20px;
}

.registrationbtn{
	cursor: pointer;
    border: 0.0625rem solid #dbdbdb;
    background-color: transparent;
    color: #000000;
    height: 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.form-control{
	border: 0.0625rem solid #dbdbdb;
	border-radius: 0.5rem;
}

.cuponwrapper{
	display: flex;
	gap: 5px;
}

.userinfowrapper{
	display: flex;
	justify-content: space-between;
}